body {
	font-family: Tahoma;
	background: url("bg.jpg");
}

.siteinfo {
	float: left;
	width: 80%;
}

.siteinfo .infoblock1 a {
	color: Black;
	text-decoration-line: none;
	text-align: center;
	font-size: 45px;
}

.siteinfo .infoblock2 #infotext {
	font-size: 15px;
	text-align: center;
}

.siteinfo .infoblock2 #images img {
	width: 40%;
	height: 40%;
	margin: 20px;
}

.siteinfo .infoblock2 div[id="map"] {
	width:100%;
	height:450px
}

.siteinfo .infoblock2 p {
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

.siteinfo .infoblock3 p {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.siteinfo .infoblock3 img {
	width: auto;
	height: auto;
	max-height: 450px;
	max-width: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.siteinfo .infoblock4 #lovertext  {
	font-size: 10px;
	text-align: justify;
	columns: 2;
	color: gray;
}

.menu {
	float: left;
	width: 20%;
	align-content: center;
}

.menu ul {
	margin: none;
	position: absolute;
	top: 50%;
	text-align: center;
}

html, body, .menu, .siteinfo {
	height: 100%;
}
